body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 3.125rem auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 5.625rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0 auto auto auto;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted none none none;
  border-width: 0.4rem;
  width: 4rem;
  color: #eaf6f6;
  margin: 6.25rem auto 6.25rem auto;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

p {
  line-height: 2;
}

/* top container */
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 7rem;
  width: 100%;
  height: 100%;
}

.bottom {
  position: absolute;
  left: 25rem;
  top: 20rem;
}

.top {
  position: absolute;
  right: 25rem;
  top: 3rem;
}

/* middle-container */
.profilepic {
  border-style: groove;
  border-radius: 50rem;
  height: 12.5rem;
  width: auto;
  margin: 1rem 0 1rem 0;
}

.self-description {
  text-align: center;
  color: #40514E;
  width: 450px;
  margin: 2rem auto 0 auto;
}

/* contact-me */
.contact-me {
  margin: auto auto 0 auto;
}

.invite {
  width: 30rem;
  margin: auto;
}

/* button-container */
.button-container {
  margin: 0 auto 0 auto;
}

/* bottom-container */
.bottom-container {
  color: #11999E;
  background-color: #66bfbf;
  padding: 2rem 0 2rem 0;
}

.btn {
  background: #11cdd4;
  background-image: linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 1rem auto 1rem auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  color: #11999E;
}

.copyright {
  color: #eaf6f6;
  margin: 2rem 0 0 0;
  font-size: 0.75rem;
}

/* project section */
.pp .carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.pp .carousel-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.pp .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pp .carousel-item h2 {
  font-size: 80px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 1;
}

.pp .carousel-item p {
  font-size: 30px;
  color: #eeeeee;
  margin: 0;
  opacity: 1;
}

.pp .carousel-controls {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 10;
  transform: translate(-50%);
}

.pp .carousel-indicators {
  position: relative;
  margin: 0;
}

.pp .carousel-indicators li {
  height: 70px;
  width: 70px;
  margin: 0 5px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
}

.pp .carousel-indicators li.active {
  border-color: #ffffff;
  transform: scale(1.2);
}

.pp .carousel-control-next,
.pp .carousel-control-prev {
  height: 60px;
  width: 60px;
  opacity: 1;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease;
  top: 20px;
}

.pp .carousel-control-next:hover,
.pp .carousel-control-prev:hover {
  box-shadow: 0 0 10px #ffffff;
}

.pp .carousel-control-next img,
.pp .carousel-control-prev img {
  width: 30px;
}

.pp .carousel-control-next {
  right: -90px;
}

.pp .carousel-control-prev {
  left: -90px;
}

.heading-project {
  padding-top: 20px;
}

/* responsive*/
@media (max-width: 767px) {
  .mountain {
    width: 100%;
    height: 100%;
  }

  .top, .bottom {
    width: 20%;
    position: relative;
    left: 0;
    top: 0;
  }

  body {
    width: 100%;
  }

  .invite {
    width: 100%;
  }

  .self-description {
    width: 100%;
  }

  .pp .carousel-control-next,
  .pp .carousel-control-prev {
    display: none;
  }

  .pp .carousel-indicators li {
    height: 20px;
    width: 20px;
  }
}
